<h2>Subscribers</h2>

<table>
  <tr>
    <th>Email</th>
    <th>Added On</th>
  </tr>

<% @subscribers.each do |subscriber| %>
  <tr>
    <td><%= subscriber.email %></td>
    <td><%= subscriber.created_at.strftime("%b-%d-%Y") %></td>
  </tr>
<% end %>
</table>