<h2>Menus</h2>

<p><%= render_content 'menu_intro' %></p>

<ul>
  <% @menus.each do |menu| %>
    <li><%= link_to menu.name, view_menu_path(:slug => menu.slug) %> (<%= link_to 'PDF', view_menu_path(:slug => menu.slug, :format => 'pdf') %>)</li>
  <% end %>
</ul>