<%= link_to "Make Reservation", new_reservation_path, :onclick => "$('#reservation_form').toggle(); return false;" %>
<div id="reservation_form" style="display: none"><script type="text/javascript" src="http://www.opentable.com/frontdoor/default.aspx?rid=69718&restref=69718&hover=1"></script></div>