/*reset.css */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,hr,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,hr{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
sup{vertical-align:top;font-size:70%;position:relative;}
body{line-height:1;}
ul,ol{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
img{margin:0;border:0;}
p{margin:0 0 0 0;border:0;}
strong,b{font-weight:bold;}
em{font-style:italic;}
input[type="checkbox"]{margin:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}

//variables and mixins
$accent: #b32727;
$label_width: 125px;
$footer_element_margin: 65px;

@mixin button-base {
  background: #cbac59;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e3d28a), to(#bc953c));
  background-image: -webkit-linear-gradient(top, #e3d28a, #bc953c);
  background-image:    -moz-linear-gradient(top, #e3d28a, #bc953c);
  background-image:     -ms-linear-gradient(top, #e3d28a, #bc953c);
  color: #3a2b1a;
  text-shadow: 1px 1px 0px #e3d28a;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  opacity: 0.9;
  margin: 20px 0 0 $label_width + 10;
  padding: 4px 5px;
  font-size: 100%;
  font-weight: bold;
  &:hover{
    opacity: 1;
  }
  &:active{
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bc953c), to(#e3d28a));
    background-image: -webkit-linear-gradient(top, #bc953c, #e3d28a);
    background-image:    -moz-linear-gradient(top, #bc953c, #e3d28a);
    background-image:     -ms-linear-gradient(top, #bc953c, #e3d28a);
    position: relative;
    top: 1px;
    left: 1px;
  }
}  


// main tags
html, body, p, div, strong, div, span, h1, h2, h3, h4, h5{
  font: 20px/1.2em 'Myriad Pro', 'Myriad', Helvetica, sans-serif;
  color: #e1d8cc;
}

body{
  background: #000;
  padding: 20px;
}

p{
  margin: 0 0 10px;
}

strong{
  color: #eee;
  font-weight: bold;
}

address{
  font-style: normal;
  margin: 10px 0;
  span{
    margin: 0 7px;
  }
}

h2 {
  color: $accent;
  line-height: 90%;
  margin: 40px 0 10px;
  text-transform: uppercase;
  font-size: 300%;
  font-weight: normal;
  font-family: 'myriad-pro-condensed'; 
  .note{
    font-size: 70%;
    position: relative;
    top: -4px;
  }
}

h3{
  font-weight: bold;
  font-size: 125%;
  color: #eee;
}

a{
  color: #f5cd4e;
  text-decoration: none;
  &:hover{
    color: #ac7e01;
  }
  &:visited{
    color: #ac7e01;
  }
}
.link{
  color: #f5cd4e;
  font-size: 110%;
}

ul{
  list-style: none;
  padding-left: 0;
  li{
    margin: 0 0 30px;
  }
}



// header
.header{
  padding-top: 20px;

  a img{
    border: 0;
  }
  
  .logo{
    float: right;
    margin-right: 50px;
    img{
      width: 350px;
    }
  }
  
  .nav{
    padding-top: 20px;
    ul li{
      float: left;
      margin: 0 25px 0 0;
      
      ul.sub_nav{
        position: absolute;
        margin-top: 7px;
        max-width: 600px;
        li{
          margin-right: 10px;
          
          a{
            padding: 0 5px 3px;
            color: #ac7e01;
            text-transform: none;
            font-size: 25px;
          }
        }
      }
      &:hover{
        ul.sub_nav{
          display: block !important;
        }
      }
    }
    ul li.last{
      margin-right: 0;
      padding-right: 0;
    }
    a, a:link, a:focus, a:visited{
      color: #fff;
      text-transform: uppercase;
      font-size: 35px;
      font-weight: normal;
      font-family: 'myriad-pro-condensed';
      padding: 15px 5px;
      &:hover{
        color: #f5cd4e;
      }
    }
  }
}



// forms
.field {
  clear: both;
  margin: 5px 0;

  input, textarea, select{
    background: #3d3933;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3d3933), to(#59554c));
    background-image: -webkit-linear-gradient(top, #3d3933, #59554c);
    background-image:    -moz-linear-gradient(top, #3d3933, #59554c);
    background-image:     -ms-linear-gradient(top, #3d3933, #59554c);
    opacity: 0.7;
    border: 1px solid #6a675f;
    color: #fff;
    padding: 3px 5px;
    font-size: 90%;
    &:focus{
      opacity: 1;
      border-color: #87837a;
    }
  }
  select{
    font-size: 70%;
    min-width: 333px;
    height: 30px;
    padding: 5px;
    option{
      padding: 5px;
    }
  }
  textarea{
    height: 110px;
    width: 400px;
  }
  label, .alt_label{
    width: $label_width;
    display: block;
    float: left;
    text-align: right;
    font-size: 90%;
    margin-right: 10px;
    padding-top: 6px;
  }
  .alt_label{
    padding-top: 3px;
  }
  .button{
    @include button-base;
  }
  .note{
    margin-left: 10px;
  }
}
.actions{
  margin-bottom: 20px;
  input{
    @include button-base;
  }
}
.note{
  font-size: 80%;
  opacity: 0.7;
}
.checkbox_field{
  input{
    margin-left: 0;
  }
  label{
    float: none;
    display: inline;
    margin-right: 0;
  }
}

  
// error
.error{
  font-size: 90%;
  color: #c33;
  margin: 10px 0;
}
.field_with_errors{
  display: inline;
}


// live_edit_menu
.live_edit_menu{
  margin: 50px 100px;
  
  h3.no_name{
    opacity: 0.15;
  }
  .section{
    margin-bottom: 75px;
    
    .item{
      position: relative;
      left: -93px;
      padding: 5px 0 5px 90px;
      margin-bottom: 15px;
      cursor: move;
      width: 50%;
      &:hover{
        background: transparent url(image_path("icon_move.png")) no-repeat  56px 8px;
        .edit_menu_item{
          display: block;
        }
      }
      input{
        background: none;
        border: 1px solid #000;
        color: #E1D8CC;
        font-size: 20px;
        &:hover{
          background: rgba(200,200,200,0.2);
          border: 1px inset rgba(255,255,255,0.2);
        }
        &.editing, &:focus{
          color: #fff;
          background: rgba(200,200,200,0.4);
          border: 1px inset rgba(255,255,255,0.5);          
        }
      }
      h4{
        float: left;
        width: 250px;
        margin-right: 10px;
        cursor: text;
        input{
          width: 100%;
        }
      }
      .description{
        input{
          color: #666;
          font-size: 70%;
          font-weight: normal;
          width: 500px;
          &.editing, &:focus{
            color: #fff;
          }
        }
      }
      .price{
        input{
          width: 45px;
        }
      }
      .edit_menu_item{
        display: none;
        color: #F5CD4E;
        font-size: 75%;
        position: absolute;
        left: 0;
        padding: 5px;
      }
    }
    .item.ui-sortable-helper{
      background-color: rgba(33,33,33,0.7);
      cursor: -moz-grabbing;
      opacity: 0.75;
    }
  }
}
