//variables and mixins
$accent: #b32727;

@mixin button-base {
  background: #cbac59;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e3d28a), to(#bc953c));
  background-image: -webkit-linear-gradient(top, #e3d28a, #bc953c);
  background-image:    -moz-linear-gradient(top, #e3d28a, #bc953c);
  background-image:     -ms-linear-gradient(top, #e3d28a, #bc953c);
  color: #3a2b1a;
  text-shadow: 1px 1px 0px #e3d28a;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  opacity: 0.9;
  &:hover{
    opacity: 1;
  }
  &:active{
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bc953c), to(#e3d28a));
    background-image: -webkit-linear-gradient(top, #bc953c, #e3d28a);
    background-image:    -moz-linear-gradient(top, #bc953c, #e3d28a);
    background-image:     -ms-linear-gradient(top, #bc953c, #e3d28a);
    position: relative;
    top: 1px;
    left: 1px;
  }
}  


html, body, p, div, strong, div, span, h1, h2, h3, h4, h5{
  font: 14px/1em 'Myriad Pro', 'Myriad', Helvetica, sans-serif;
  color: #b1aca0;
}

body{
  background: #000 url(image_path('background.jpg')) 45% -400px no-repeat;
  padding: 10px;
}

p{
  margin: 0 0 10px;
}

strong{
  color: #eee;
  font-weight: bold;
}

address{
  font-style: normal;
  margin: 10px 0;
  span{
    margin: 0 7px;
  }
}

h2 {
  color: $accent;
  line-height: 90%;
  margin: 40px 0 10px;
  text-transform: uppercase;
  font-size: 240%;
  font-weight: normal;
  font-family: 'myriad-pro-condensed'; 
}

h3{
  font-weight: bold;
  font-size: 125%;
  color: #eee;
  margin: 25px 0 5px;
}

a{
  color: #f5cd4e;
  text-decoration: none;
  &:hover{
    color: #6a6144;
  }
  &:visited{
    color: #6a6144;
  }
}
.link{
  color: #f5cd4e;
  font-size: 110%;
}

ul{
  list-style: none;
  padding-left: 0;
  li{
    margin: 0 0 30px;
  }
}

.wrapper{
  max-width: 1000px;
  margin: 0 auto;
}

.main{
  z-index: 1;
  position: relative;
}

.header a img{
  border: 0;
}

ul li a{
  padding: 8px 0 12px  40px;
  &.facebook{
    background: transparent url(image_path('icon_facebook.png')) 0 0 no-repeat;
  }
  &.twitter{
    background: transparent url(image_path('icon_twitter.png')) 0 0 no-repeat;
  }
  &.blog{
    background: transparent url(image_path('icon_blog.png')) 0 0 no-repeat;
  }
  &.front_house{
    background: transparent url(image_path('icon_front.png')) 0 0 no-repeat;
  }
  &.back_house{
    background: transparent url(image_path('icon_back.png')) 0 0 no-repeat;
  }
}



// forms
.field{
  input, textarea, select{
    background: #3d3933;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3d3933), to(#59554c));
    background-image: -webkit-linear-gradient(top, #3d3933, #59554c);
    background-image:    -moz-linear-gradient(top, #3d3933, #59554c);
    background-image:     -ms-linear-gradient(top, #3d3933, #59554c);
    opacity: 0.7;
    border: 1px solid #6a675f;
    color: #fff;
    padding: 3px 5px;
    font-size: 90%;
    &:focus{
      opacity: 1;
      border-color: #87837a;
    }
  }
  textarea{
    height: 110px;
    width: 400px;
  }
  .button{
    @include button-base;
    font-size: 85%;
    padding: 2px 4px;
  }
}

.note{
  font-size: 80%;
  opacity: 0.7;
}
.field .note{
  margin-left: 10px;
}

// new applicant
$label_width: 125px;

.new_applicant {
  h3{
    margin-left: $label_width + 10;
  }
  .field {
    clear: both;
    margin: 5px 0;
    label{
      width: $label_width;
      display: block;
      float: left;
      text-align: right;
      font-size: 90%;
      margin-right: 10px;
      padding-top: 6px;
    }
  }
  .button{
    @include button-base;
    margin: 20px 0;
    padding: 4px 5px;
    font-size: 100%;
    font-weight: bold;
  }
}



// special
.shade{
  background-color: #000;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
.scrollbar_present{
  padding-left: 35px;
  background-position: 44.5% -400px;
}


// error
.error{
  font-size: 90%;
  color: #c33;
  margin: 10px 0;
}
.field_with_errors{
  display: inline;
}