// menu
body.menus{
  background: #000;
  .main .layout_half{
    max-width: 100%;
    width: 100%;
  }
}

.menu{
  font-size: 125%;
  float: left;
  
  .section{
    margin-bottom: 30px;
    clear: both;
    
    h3{
      padding: 5px 0;
      margin-top: 0;
    }
    .item{
      padding: 5px 0;
      margin-bottom: 10px;
      h4{
        float: left;
        margin: 0 10px 0 0;
        font-size: 95%;
        line-height: 1.2em;
      }
      .description{
        color: #666;
        font-size: 80%;
        font-weight: normal;
        margin-bottom: 0;
      }
      .price{
        font-size: 95%;
        line-height: 1.2em;
      }
    }
    &.two_column{
      margin-right: -60px;
      li{
        height: 3em;
        display: block;
        float: left;
        margin-right: 60px;
        width: 35%;
        .item{
          width: 50%;
        }
      }
    }    
  }
}

.food_samples{
  margin-top: 20px;
  float: right;
  width: 335px;
  ul{
    li{
      position: relative;
      float: left;
      img{
        border: 1px solid #555;
      }
      .tooltip{
        background: url(image_path("background_tooltip.png")) no-repeat 1px -120px;
        position: absolute;
        bottom: 0;
        text-align: center;
        line-height: 1.2em;
        padding: 33px 10px 10px;
        width: 302px;
      }
    }
  }
}