// hide/show special elements
.mobile_only{
  display: block !important;
}
.fullscreen_only{
  display: none !important;
}


//variables and mixins
$accent: #b32727;
$label_width: 125px;
$footer_element_margin: 65px;

@mixin button-base {
  background: #cbac59;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e3d28a), to(#bc953c));
  background-image: -webkit-linear-gradient(top, #e3d28a, #bc953c);
  background-image:    -moz-linear-gradient(top, #e3d28a, #bc953c);
  background-image:     -ms-linear-gradient(top, #e3d28a, #bc953c);
  color: #3a2b1a;
  text-shadow: 1px 1px 0px #e3d28a;
  border-radius: 3px;
  border: 0;
  cursor: pointer;
  opacity: 0.9;
  margin: 10px 0 0;
  padding: 7px 10px;
  font-size: 125%;
  font-weight: bold;
  &:hover{
    opacity: 1;
  }
  &:active{
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bc953c), to(#e3d28a));
    background-image: -webkit-linear-gradient(top, #bc953c, #e3d28a);
    background-image:    -moz-linear-gradient(top, #bc953c, #e3d28a);
    background-image:     -ms-linear-gradient(top, #bc953c, #e3d28a);
    position: relative;
    top: 1px;
    left: 1px;
  }
}  


// main tags
html, body, p, h1, h2, h3, h4, h5{
  font: 22px/1.2em 'Myriad Pro', 'Myriad', Helvetica, sans-serif;
  color: #e1d8cc;
}

body{
  background: #000 !important;
}

p{
  margin: 0 0 10px;
}

strong{
  color: #eee;
  font-weight: bold;
}

address{
  font-style: normal;
  margin: 10px 0;
  span{
    margin: 0 7px;
  }
}

h2 {
  color: $accent;
  line-height: 90%;
  margin: 45px 0 25px;
  text-transform: uppercase;
  font-size: 300%;
  font-weight: normal;
  font-family: 'myriad-pro-condensed'; 
  .note{
    font-size: 70%;
    position: relative;
    top: -4px;
  }
}

h3{
  font-weight: bold;
  font-size: 125%;
  color: #eee;
  margin: 25px 0 5px;
}

a{
  color: #f5cd4e;
  text-decoration: none;
  &:hover{
    color: #ac7e01;
  }
  &:visited{
    color: #ac7e01;
  }
}
.link{
  color: #f5cd4e;
  font-size: 110%;
}

ul{
  list-style: none;
  padding-left: 0;
  li{
    margin: 0 0 30px;
  }
}

.wrapper{
  width: auto;
  max-width: auto;
}

.main{
  margin-bottom: 50px;
  padding: 10px 5px;
  line-height: 1.5em;
  
  ul{
    list-style-type: disc;
    margin-left: 20px;
  
    li{
      margin: 0 0 5px;
    }
  }
  
  p{
    font-size: 18px;
    line-height: 1.5em;
  }
  
}



// header
.header{
  padding: 10px;

  a img{
    border: 0;
  }
  
  .logo{
    text-align: center;
  }

  .reservation{
    margin-top: 20px;
    
    .reservation_phone{
      text-align: center;
    }
    
    .make_reservation{
      line-height: 2em;
      font-size: 30px;
      font-weight: normal;
      font-family: 'myriad pro', 'Myriad';
      display: block;
      width: 300px;
      height: 55px;
      overflow: hidden;
      color: #f5cd4e;
      margin: 5px auto;
    
      &:before {
        content: url(image_path("btn_reservation.png"));
        display: -moz-inline-box;
        display: inline-block;
        font-size: 0;
        line-height: 0;
      }
    }
  }
  
  .nav{
    margin-top: 30px;
    font-size: 140%;

    ul li{
      float: left;
      margin: 0 7px 0 0;      
    }
    ul li.last{
      margin-right: 0;
      padding-right: 0;
    }
    a, a:link, a:focus, a:visited{
      color: #fff;
      text-transform: uppercase;
      font-weight: normal;
      font-family: 'myriad-pro-condensed';
      padding: 5px;
    }
  }
}

// navigation active
.menus            .header .nav ul li.link_menus > a,
.menus.dinner     .header .nav ul li.link_menus .link_menus_dinner a,
.menus.dessert    .header .nav ul li.link_menus .link_menus_dessert a,
.menus.cocktails  .header .nav ul li.link_menus .link_menus_cocktails a,
.pages.about      .header .nav ul li.link_about > a,
.pages.about      .header .nav ul li.link_about .link_about_story > a,
.pages.team       .header .nav ul li.link_about .link_about_team > a,
.applicants       .header .nav ul li.link_about .link_about_careers > a,
.applicants       .header .nav ul li.link_about > a,
.messages         .header .nav ul li.link_contact > a {
  color: #f5cd4e;
}


// footer
.footer{
  padding-top: 30px;
  
  span, h3, h4, h5, h6, div, p, strong{
    color: #888;
  }
  
  .overview{
    font-size: 75%;
    color: #888;
    .location{
      display: block;
      background: transparent url(image_path("icon_location.png")) no-repeat 0 -128px;
      padding: 7px 0 7px 68px;
      address{
        margin: 0;
      }
    }
    .contact{
      display: block;
      background: transparent url(image_path("icon_contact.png")) no-repeat 0 -126px;
      padding: 7px 0 7px 68px;
      .phone{
        color: #fff;
      }
      .email{
        color: #F5CD4E;
      }
    }
  }
  
  .sitemap{
    padding: 30px 0;
    
    ul{
      position: relative;
      left: 231 + $footer_element_margin;
    }
  }
      
  ul{
    float: left;
    margin-right: 60px;
    
    li{
      margin: 0;
      
      h5{
        margin-bottom: 5px;
      }
  
      a, a:link, a:visited, a:hover{
        color: #424242;
        padding: 2px 0;
        font-size: 90%;

        &:hover{
         color: #ccc; 
        }
      }
    }
  }
}


// forms
.field {
  clear: both;
  margin: 5px 0;

  input, textarea, select{
    background: #3d3933;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3d3933), to(#59554c));
    background-image: -webkit-linear-gradient(top, #3d3933, #59554c);
    background-image:    -moz-linear-gradient(top, #3d3933, #59554c);
    background-image:     -ms-linear-gradient(top, #3d3933, #59554c);
    opacity: 0.7;
    border: 1px solid #6a675f;
    color: #fff;
    padding: 3px 5px;
    font-size: 100%;
    &:focus{
      opacity: 1;
      border-color: #87837a;
    }
  }
  select{
    padding: 5px;
    font-size: 90%;
    option{
      padding: 5px;
    }
  }
  textarea{
    height: 110px;
    width: 317px;
  }
  label, .alt_label{
    display: block;
    margin-right: 10px;
    padding-top: 2px;
  }
  .alt_label{
    padding-top: 3px;
  }
  .button{
    @include button-base;
  }
  .note{
    margin-left: 10px;
  }
}
.actions{
  margin: 20px 0;
  input{
    @include button-base;
  }
}
.note{
  font-size: 80%;
  opacity: 0.7;
}
.checkbox_field{
  input{
    margin-left: 0;
  }
  label{
    float: none;
    display: inline;
    margin-right: 0;
  }
}

.main{
  .layout_half{
    max-width: 100%;
  }
}
  
// error
.error{
  font-size: 90%;
  color: #c33;
  margin: 10px 0;
}
.field_with_errors{
  display: inline;
}


// home page
body.home{
  .new_subscriber{
    margin-top: 20px;
  }
  .home_page_subscriber{
    label{
      width: 40px;
    }
    .button{
      margin: 10px 0 0;
    }
  }
  .menu_listing{
    font-size: 125%;
    margin: 4px 0;
  }
}

// team page
body.team{
  .main { 
    .photo{
      padding: 0 0 60px 40px;
    }
  }
}


// menu additions
.menu{
  .direct_from_london{
    height: 26px;
  }
  .direct_from_london_info{
  margin-top: 30px;
  }
}