<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%# inline_stylesheet_link_tag "pdf" %>
    <%# wicked_pdf_javascript_include_tag "number_pages" %>
    <style type="text/css" media="screen">
      body, p, div, ul, li{
        font: normal 14pt/1.2em serif;
      }
      body{
        margin: 0;
        padding: 1in 0 1in 0.5in;
        color: #2E1C14;
      }
      h2{
        margin-bottom: 50px;
      }
      h3{
        font-family: 'Myriad Pro';
        font-stretch: condensed;
        font-size: 20px;
      }
      h4{
        margin: 0;
        width: 20em;
        float: left;
      }
      p{
        margin: 0 20px 0 0;
        font-size: 80%;
      }
      
      /* SECTION */
      .section{
        margin-bottom: 50px;
        padding: 0;
        clear: both;
        list-style: none;
      }
      .section li{
        margin-bottom: 25px;
      }
      .section .price{
/*        clear: right;*/
      }
            
      .menu .spacer{
        display: block;
        height: 3em;
      }
      
      .two_column{
        margin-right: -60px;
      }
      .two_column li{
        height: 3em;
        display: block;
        float: left;
        margin-right: 60px;
        width: 40%;
      }
      .two_column li p{
/*        width: 80%;*/
      }
    </style>
  </head>
  <body onload='number_pages'>
    <div id="header">
      <%# wicked_pdf_image_tag 'mysite.jpg' %>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>